body {
  background: rgb(3, 3, 3);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(134, 134, 134);
  color: rgb(255, 255, 255);
  height: 98vh;

}

.a, .b, .c, .d, .e, .f {
  border: solid 0.1em rgb(189, 189, 189);
  background-color: rgb(67, 74, 77);
  padding: 1em;
  flex-grow: 1;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.a{
  flex-grow: 1;
  flex-basis: 100%;
  margin: 15px 15px 10px 10px;
}

.b {
  flex-basis: 80%;
  margin: 10px;
  
  
}

.c, .d, .e {
  flex-basis: 20%;
  margin: 10px;
  
}

.f{
  margin: 10px 15px 10px;
}

.container-2{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  min-height: 30vh;
}


@media (max-width: 600px){
  .container-1{
    display: flex;
    flex-wrap: wrap;
  }

  .container-2{
    display: flex;
    flex-basis: 100%;
  }

  .b {
    flex-basis: 80%;
    
  }
  
  .c, .d, .e {
    flex-basis: 20%;
    
  }
  .container-2{
    min-height: 45vh;
  }
}